* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-dark: #1b1c22;
  --color-gray: #737c8b;
  --color-light: #edf2f4;
  --color-red: #ef233c;
  --color-red-dark: #d90429;

  --text-light: #edf2f4;
  --text-dark: #1b1c22;
}

body {
  background: var(--color-dark);
  color: var(--text-light);
}
section {
  background: var(--color-light);
  color: var(--text-dark);
}



/* Navigation Bar */

nav {
  background: var(--color-dark);
  color: var(--text-light);
  border-bottom: 2px solid var(--color-red);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

nav .center {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul.right {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: var(--text-light);
  text-decoration: none;
  padding: 14px 16px;
}

nav a:hover {
  color: var(--color-red);
}



/* About Me Section */

.aboutMeSection {
  background: var(--color-dark);
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.aboutMe {
  background: var(--color-light);
  color: var(--text-dark);
  width: 80%;
  max-width: 900px;
  padding: 40px;
  border-radius: 12px;
  border: 2px solid var(--color-gray);
  box-shadow: 0 4px 12px rgba(0,0,0,0.45);
}

.aboutMe h1 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 30px;
  color: var(--color-red);
  text-shadow: 0 4px 12px rgba(0,0,0,0.20);
  text-transform: uppercase;
}

.aboutMeContent {
  display: flex;
  align-items: center;
  gap: 15%;
}

.aboutMeContent img.comicOC {
  width: 250px;
  height: auto;
  border-radius: 10px;
  border: 3px solid var(--color-red-dark);
  box-shadow: 0 4px 12px rgba(0,0,0,0.20);
}

.aboutMeContent p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--text-dark);
}







/* Mobile-friendly layout */
@media (max-width: 700px) {
  .aboutMeContent {
    flex-direction: column;
    text-align: center;
  }

  .aboutMeContent img.comicOC {
    width: 60%;
  }
}

